html {
    height: 100%;
    width: 90%
}

body {
    background-image: url(https://i.pinimg.com/originals/f1/6f/ed/f16fedc86686146624897737cf4338d8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

