
@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.asd {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.asdbtn{
    color: rebeccapurple;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px
  
}
    .asdbtn:hover {
        color: darkred;
        text-shadow: 1px 1px 4px lightblue;
        color: #fff;
        text-align: center;
        font-size: 60px;
    }
.btn {
    box-shadow: none !important;
    text-shadow: 1px 1px 4px #fff;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 30%;
    top: 35%;
    right: 30%;
    color:steelblue
}
h1 {
    text-shadow: 1px 1px 4px #000;
}
