
@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}
p {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.asd {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.asdbtn{
    color: rebeccapurple;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px
  
}
    .asdbtn:hover {
        color: darkred;
        text-shadow: 1px 1px 4px     
    }
.asdbtn {
    font: 80px 'Oswald', serif;
    color: #00f0ff;
    text-shadow: 0px -1px 4px #1937a4, 0px -2px 10px blue, 0px -10px 20px #00f0ff, 0px -18px 40px blue;
}
.btn {
    box-shadow: none !important;
    text-shadow: 1px 1px 4px #fff;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 30%;
    top: 35%;
    right: 30%;
    color:steelblue 
}
h1 {
    text-shadow: 1px 1px 4px #000;
}
h1 {
    font: 80px 'Oswald', serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}
